<body bgcolor="FFFFFF">
<h2><center>Cyberspace Hotlist</h2></center>
<title>Cyberspace Hotlist</title>
<ul>
<li><a name = "glossary">Glossaries &etc.</a>
<ul>
<li><a href=" http://www.monmouth.com/~jshahom/jargon/index.html">Jargon 
File 3.0.0 - The Ultimate Index</a>
<li><a href="http://web.cnam.fr/Jargon/">Jargon file 3.2.0 (searchable)</a>
<li><a href="http://pespmc1.vub.ac.be/ASC/indexASC.html">Web Dictionary 
of Cybernetics and Systems</a>
</ul><p>


<li><a name="gibson">William Gibson</a>
<ul>
<li>a 
<a href="http://sfbox.vt.edu:10021/J/jfoley/gibson/gibson.html">Gibson</a> 
home page
<li>a <a 
href="http://hamp.hampshire.edu/%EbjbF94/writings/virtual-light.html">
review</a>
of <cite>Virtual Light</cite> and <cite>Neuromancer</cite>
<li>Bruce Sterling and William Gibson <a 
href="http://www.nas.edu/nap/online/techgap/media/gibsonsterling.html">"Dream in Public"</a> about the future of education in America. 
<li>an <a href="http://sushi.st.usm.edu/~barthelm">interview</a> with 
William Gibson
<li><a 
href="http://www.georgetown.edu/irvinemj/english016/gibson/gibson.html">William 
Gibson and Post-Modern Science Fiction</a>
</ul><p>

<li><a name="piercy">Marge Piercy</a>
<ul>
<li>a 
<a href="http://www.ai.mit.edu/people/ellens/Gender/piercy-glossary.html"> 
glossary</a> of Marge Piercy's terms
<li><a href="http://www.massey.ac.nz/~wwwms/FMST/FMST45.2.html">The Marge 
Piercy Reviews</a>
<li><a 
href="http://www.soc.hawaii.edu/con/future/j2/halbert.html">Feminist 
Fabulation</a>
<li><a 
href="http://www-admrec.sonoma.edu/A&R/STAFF/axsom.dissertation.html">Frankenstein 
Evolves</a>
 </ul><p>

<li><a name="stephenson">Neal Stephenson</a>
<ul>
<li>an unauthorized copy of the text of <a 
href="http://www.samurai.com/snowcrash/"><cite>Snow Crash</cite>
<li><a href="http://raven.ubalt.edu/Moulthrop/pi/snow_crash.html">passage 
index</a> to <cite>Snow Crash</cite>
<li><a 
href="http://bliss.berkeley.edu/impact/students/tracy/tracy_midterm.html">
The Power of Language in <cite>Snow Crash</cite> and <cite>Babel 17</cite>
<li><a href="http://www.tech-head.com/scrash.htm">Avatar Zone</a>
<li>an <a 
href="http://www.van.com/GZero/Neal/Converse.html">interview</a> with 
Neal Stephenson
<li><a 
href="http://www.addict.com/ATN/issues/1.07/Features/Neal_Stephenson/">Breaking the Code
with Neal Stephenson</a>, a <cite>Wired</cite> feature.
<li><a href="http://www.rsabbs.com/snow/">Snow Crash Cyber-chat</a>
<li><a href="http://www.well.com/user/bbear/vrml.html">How to Build a 
Metaverse</a>

 </ul><p> 
<li><a name="moulthrop">Stuart Moulthrop</a>
<ul>
<li>Stuart Moulthrop's <a href="http://raven.ubalt.edu/Moulthrop/">home 
page</a>
 </ul><p>
<li><a name="turkle">Sherry Turkle
<ul>
<li><a 
href="http://www.mit.edu/afs/athena/org/t/techreview/www/articles/FM96/
Turkle.html"><cite>Technology Review</cite> interviews Sherry Turkle</a>
</ul><p>
<li><a name="rheingold">Howard Rheingold
<ul>
<li><a href="http://www.well.com/user/hlr/">Howard Rheingold's home page</a>
</ul><p>
<li><a name="leary">Timothy Leary
<ul>
<li><a href="http://www.leary.com/">The Timothy Leary Home Page</a>... 
note he has his own domain name.
<li><a 
href="http://www.babelweb.org/virtualistes/armer/linkleri.htm">Leary 
Links</a>
<li><a href="http://www.communique.net/~djshaman/timlbio.htm">Timothy 
Leary Bibliography</a>
 </ul><p>

<li><a name="stone">Alluquere Rosanne Stone</a>
<ul>
<li><a href="http://www.hotwired.com/wired/4.05/stone/index.html">"Sex and 
Death Among the Cyborgs"</a> from <cite>Wired</cite>
<li><a href="http://www.actlab.utexas.edu/~sandy/">Sandy Stone's homepage</a>
<li><a 
href="http://www.arts.ucsb.edu/~speed/1.2/stone.html">Techno-Prosthetics 
and Exterior Presence"</a>, a conversation with Sandy Stone.
 </ul><p>

 <li><a name="cyberpunk">Cyberpunk</a>
<ul>
<li>a <a 
href="http://205.230.70.201/cyberpunk/authors/b.html#bachman">cyberpunk 
reading list</a>
<li><a href="http://www.cis.ksu.edu/~psiber/cyber/cybawk.html">CyberAwk</a>
<li><a 
href="http://modem.circus.cse.unsw.edu.au/~s2154347/cyber.html">Cyberpunk</a> links
<li><a href="http://www.wsu.edu:8080/~jthomas/cyberp.html">Cyberpunk 
Cultural Catalog</a>
<li><a href="http://www.via.at/cyber/movie.htm">Girl with the 
Mirrorshades</a>
<li><a href="http://www.tees.ac.uk/tcs/cyberpunk">Cyberpunk as Social and 
Political Theory</a>, an essay.
<li><a href="http://www.hyperreal.com/~mpesce/fa.html">Final Amputation</a>
 </ul><p>

<li><a name="cyborgs">Cyborgs</a>
<ul>
<li><a 
href="http://muse.jhu.edu/journals/configurations/v001/1.1christie.html">A Tragedy for Cyborgs</a>
<li><a href="http://www.hkstar.com/~angus/cyborg/default.html">Cyborg 101</a>
<li><a 
href="http://www-mitpress.mit.edu/bookstore/nonpress/cyborg.html">The 
Cyborg Handbook</a>
<li><a 
href="http://tornade.ere.umontreal.ca/~boudreaj/vol4/porush.htm">
"The Rise of Cyborg Culture or The Bomb Was a Cyborg"</a> by David Porush

</ul><p>
<li><a name="femscifi">Feminist Science Fiction</a>
<ul>
<li><a 
href="http://www.law.indiana.edu/fcrc/bibliographies/corcos.html">Women's 
Rights and Women's Images in Science Fiction:</a> A Selected Bibliography
<li><a href="http://www.uic.edu/~lauramd/sf/">Feminist Science Fiction, 
Fantasy & Utopia</a>
<li><a href="http://www.pointcom.com/jpegs/reviews/may_1134.htm">Feminist 
Science Fiction Reviews</a>
 </ul><p>
<li><a name="scifi">Science Fiction</a>
<ul>
<li><a 
href="http://www.cl.cam.ac.uk/users/gdr11/sf-bibliography.html">Annotated 
Bibliography</a> of Science Fiction Criticism
 </ul><p>
<li><a name="hypertext">hypertext</a>
<ul>
<li><a href="http://gwis.circ.gwu.edu/~gelman/hyperbib.html">a hypertext 
bibliography</a>
<li><a 
href="http://www.stg.brown.edu/projects/hypertext/landow/111/htc/ov.html">HTC: 
Hypertextual Consciousness</a>
<li><a 
href="http://www.stg.brown.edu/projects/hypertext/landow/HTatBrown/BrownHT.html">
Hypertext at Brown University</a>

</ul><p>

<li><a name=#related>Related Courses</a>
<ul>
<li><a 
href="http://www.en.utexas.edu/~tonya/cyberpunk/index.html">Cyberpunk 
Fiction</a> at University of Texas
<li><a href="http://lydia.bradley.edu:80/las/soc/syl/391/">The Sociology 
of Cyberspace</a> at Bradley University
<li><a href="http://www.umich.edu/~umfandsf/class/sf/books/">Science 
Fiction and Fantasy</a> at University of Michigan
<li><a  
href="http://twine.stg.brown.edu/projects/hypertext/landow/cpace/cspaceov.html"> Cyberspace and Critical Theory</a> at Brown 
University
<li><a 
href="http://www.cc.rochester.edu:80/College/FS/Seminars/DigiCult/">Digital
Culture</a> at University of Rochester
<li><a href="http://www.duke.edu/~tlove/cyberclass/index.html">Imagining 
the Future</a> at Duke University
<li><a href="http://iberia.vassar.edu/~mijoyce/Cyborg.html">Cyborg 
Consciousness</a> at Vassar
<li><a href="http://iberia.vassar.edu/~mijoyce/Eng_288.html">Hypertext 
Rhetorics and Poetics</a> at Vassar

 </ul><p>

<li><a name="family">Computers and the Family</a>
<ul>
<li><a href=family.txt>collected comments</a> on the effects of computers 
on the family
</ul><p>

<li><a name="community">Virtual Community</a>
<ul>
<li><a href="http://otal.umd.edu/~googie/vc.html">Virtual 
Communities</a>, a Web project
</ul><p>

<li><a name="bots">'Bots</a>
<ul>
<li><a href="http://www-ai.ijs.si/eliza/eliza.html">Eliza</a>
<li><a href="http://fuzine.mt.cs.cmu.edu/mlm/julia.html">Julia, A 
Chatterbot</a>
<li><a 
href="http://www.itp.tsoa.nyu.edu/~student/susanj/agents/moobots.html">'Bots 'n the MOO</a>

</ul><p>

<li><a name="cams">Cams</a>
<ul>
<li><a href="http://www-white.media.mit.edu/~steve/netcam.html">Wearable 
Wireless Webcam</a>
<li><a href="http://www.ts.umu.se/~spaceman/camera.html">Peeping Tom 
Homepage</a>


</ul><p>

<li><a name="free">Free Speech issues</a>
<ul>
<li><a href="http://www.eff.org/blueribbon.html">Free Speech Blue Ribbon 
Campaign</a> to protest elements of the 1996 Telecom Bill
<li><a href="http://www.nuvo.net/darkness/">A Thousand Points of 
Darkness</a> protest page
 </ul><p>
</ul>
<hr>
<center>back to <a href=home.html>285 home page</a></center>
